<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <title>404</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/add-product">Добавить продукт</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Страница не найдена!<a href = "/">Вернуться</a></h1>
    </main>
</body>
</html>